<%= stylesheet_link_tag params[:controller] %>
<div class="jumbotron col-lg-12 static-text">
    <div class="container-fluid">
        <h1 class="col-lg-10 col-lg-offset-1" style="text-align:center;">The Harambe Parable</h1>
        <div class="col-lg-10 col-lg-offset-1">
            <div class=container-fluid>
                <div class="img img-responsive">
                    <img src="https://i.ytimg.com/vi/oqupUsjbpdM/maxresdefault.jpg" style="max-width:100%">
                </div>
            </div>
            <p style="text-align:justify"><br><br>
                In loving memory of a friend Extending our condolences to family members of Harambe And extended family at the Cincinnati Zoo HP, Inc. is a company dedicated to preserving the memory of the 16-year-old Western Lowland Gorilla - Harambe - whose life
                was cut short after an unfortunate incident at the Cincinnati Zoo.
            </p>
            <%= link_to 'Learn More', pages_about_path, class: 'btn btn-info btn-lg pull-left'%>
            <%= link_to 'Blog', blogs_path, class: 'btn btn-info btn-lg pull-right'%>
        </div>
    </div>
</div>
