<div class="jumbotron col-lg-10 col-lg-offset-1">
  <h1 class="col-lg-10 col-lg-offset-1" style="text-align:center;">Project History</h1>
  <div class="col-lg-10 col-lg-offset-1">
  <p style="text-align:justify">How did this happen?<br><br>
    More words here?
  </p>
  <br>
  <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg'%>
  </div>
</div>
