<div class="jumbotron col-lg-10 col-lg-offset-1">
  <h1 class="col-lg-10 col-lg-offset-1" style="text-align:center;">Project History</h1>
  <div class="col-lg-10 col-lg-offset-1">
    <p style="text-align:justify"><br><br>
      The Harambe Parable began as a game idea that was brainstormed for the junior-level software engineering class at
      Oakland University as an extended demonstration of software design in a classroom-centered team environment.
      Arpan Rughani proposed the idea of a Harambe tribute partly as a joke, but with overwhelming majority vote,
      the team focus shifted toward making a game work within the class-given parameters (namely reconciling a Unity environment
      with a Model-View-Controller model). After divvying up the workload (texturing, cinematic design, AI, game logic, et al.)
      and working with Dean DeHart to ensure the project was completed in a timely manner, the game was largely completed in short order,
      leaving interface/menu work and minor polishing for a later point in the timeline. The game at this stage was demonstrated publicly
      for classmates and the professor.
      <br>
      During the development process of the project, a website was created to increase visibility of the game and to clearly state both the
      purpose and origin of the game. The suggestion to “post memories” was brought up and Ruby provided the framework to set up both that
      and development blog posting. This allowed further interactivity with not only gamers but those who wanted to share their own memories
      or experiences with Harambe. Fictitious or not, the fact of the matter was both the website would serve as a hub where people can together
      form a community for a moment, however brief, and share in conversation and a small bit of enjoyment from a very real and very recent tragedy.

      <br>
      The project in full - documentation and all - was finished on Monday, December 5, 2016 for a full public demonstration and presentation.
      The game and website have since since served as the flagship of HP, Incorporated.
  

    <br>
  </p>
  <br>
  <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg'%>
  </div>
</div>
