<div class="jumbotron col-lg-10 col-lg-offset-1">
  <h1 class="col-lg-10 col-lg-offset-1" style="text-align:center;">Welcome To The Official Page For Harambe's Parable</h1>
  <div class="col-lg-10 col-lg-offset-1">
  <p style="text-align:justify">Austin gluten-free sustainable, jianbing whatever tacos etsy pickled kogi meggings raw denim man braid farm-to-table typewriter kale chips. Polaroid man braid offal, distillery ethical hoodie cronut mumblecore migas meggings ugh kogi venmo waistcoat art party. Kale chips taxidermy street art narwhal, before they sold out artisan organic readymade bushwick etsy vaporware. Venmo swag trust fund kickstarter whatever austin air plant hella DIY disrupt. Artisan meggings austin vinyl listicle farm-to-table. Vegan tofu meggings pickled iPhone knausgaard mustache, bespoke master cleanse leggings church-key ethical. Pinterest kombucha synth, humblebrag microdosing meh paleo. <br><br>

Poke quinoa brunch VHS jean shorts. Neutra meggings fam iceland af drinking vinegar. Lyft biodiesel photo booth forage, XOXO cred neutra. Meh godard bushwick craft beer migas, artisan pug paleo fam. Meditation meggings mlkshk 8-bit, sustainable sartorial chia you probably haven't heard of them knausgaard. Mumblecore truffaut before they sold out retro tbh. Enamel pin copper mug keffiyeh, leggings wolf photo booth biodiesel bitters offal master cleanse freegan synth whatever.</p>
  <br>
  <%= link_to 'Learn More', pages_About_path, class: 'btn btn-primary btn-lg'%>
  </div>
</div>