<div class="jumbotron col-lg-10 col-lg-offset-1" style="border:solid; border-color:#b15315">
  <h1 class="col-lg-10 col-lg-offset-1" style="text-align:center;">Meet The Team</h1>
  <div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;;margin-bottom:2em;">
    <div class="col-lg-10 col-lg-offset-1">
      <p style="text-align:justify">Andrew A.<br><br>
        Social media expert, analysis lead, and community outreach program manager, Andrew A. brought a much needed levity
        to the team in a group full to the brim of gravely serious computer science majors. Being the face of the team,
        Andrew helped reach out to fellow students and peers to spread the game, website, and Harambe awareness to allow
        it to reach the height of its popularity. When he is not multitasking on different class projects, he is throwing
        back entire gallons of Sprite and enjoying life.
      </p>
    </div>
  </div>
    <br><div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;margin-bottom:2em;">
      <div class="col-lg-10 col-lg-offset-1">
        <p style="text-align:justify">Andrew E.<br><br>
          Creative lead, cinematic director, and devblog writer, Andy E. brought with him a creative touch and practical
          wisdom that allowed the initial ideas of the group’s to fruition. In charge of making “the dream come true,”
          Andy contributed mostly in filling in the blank space when not tasked with making sure the blog did not explode.
           When he is not watching Blender render, he is an avid game player and dungeon master.
        </p>
      </div>
    </div>
      <br><div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;margin-bottom:2em;">
        <div class="col-lg-10 col-lg-offset-1">
          <p style="text-align:justify">Anthony H.<br><br>
            Judo sorcerer, documentation support, and technical outreach, Anthony presented myriad skills that the team
             lacked entirely. His willingness to contact others for assistance - or to call into question the technical
             skill of his superiors - showed a natural curiosity and unwavering determination. A natural leader that allowed
              others to take the reins, Anthony brought a moral support and sort of heroism that gave us the power to move
              step by step. When he is not slamming the keyboard to conjure paperwork, he is using his mastery of Judo
              techniques to overwhelm and crush his enemies.
          </p>
        </div>
      </div>
        <br><div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;margin-bottom:2em;">
          <div class="col-lg-10 col-lg-offset-1">
            <p style="text-align:justify">Arpan R.<br><br>
              Arpan was the heart of the team, showing off his texture work and ability to think of seemingly outlandish
              ideas on the spot. With his enthusiasm to push forward and passion for recent and relevant news, Arpan showed
              us the most direct path through a project was through - if something didn’t work, make it work by piling all
              of our resources on it. When he’s not spearheading the LECS, he’s punching through hackathons with leading
              marks and dominant performances.
            </p>
          </div>
        </div>
          <br><div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;margin-bottom:2em;">
            <div class="col-lg-10 col-lg-offset-1">
              <p style="text-align:justify">Dean DeHart<br><br>
                The technical lead and real meat and bones of the project, Dean brought with him a certain showmanship and adept
                 mind for problem solving that was perfect for creating both a game and website. An expert in all things
                 software development - or in this project’s case, Ruby and Unity - Dean provided assistance to everyone
                 in the group wherever and whenever he could, showing an almost inhuman drive to get things done. When he’s not
                 inhaling Red Bull, he’s pwning noobs under the handle Burnout. Follow me on my social media!
              </p>
            </div>
          </div>
            <br>

  <div class="col-lg-10 col-lg-offset-1">
    <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg', style: 'width:100%; float:center'%>
  </div>

</div>
