<div class="jumbotron col-lg-10 col-lg-offset-1" style="border:solid; border-color:#b15315">
  <h1 class="col-lg-10 col-lg-offset-1" style="text-align:center;">Meet The Team</h1>
  <div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;;margin-bottom:2em;">
    <div class="col-lg-5 col-lg-offset-1">
      <p style="text-align:justify">Andrew A.<br><br>
        Has won multiple Nobel Peace Prizes for his ability to get a Snap story with crazy people.
      </p>
    </div>
    <div class="col-lg-5 col-lg-offset-1"style="padding-bottom:2em">
      More words go here maybe?
    </div>
  </div>
    <br><div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;margin-bottom:2em;">
      <div class="col-lg-5 col-lg-offset-1">
        <p style="text-align:justify">Andrew E.<br><br>
          Has won multiple Oscars for best animated opening cinematic.
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-1"style="padding-bottom:2em">
        More words go here maybe?
      </div>
    </div>
      <br><div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;margin-bottom:2em;">
        <div class="col-lg-5 col-lg-offset-1">
          <p style="text-align:justify">Anthony H.<br><br>
            Stands up for what's right when it comes to points on assignments. Has an exceptional understanding of requirements capturing.
            <br> Also knows Judo or something.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-1"style="padding-bottom:2em">
          More words go here maybe?
        </div>
      </div>
        <br><div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;margin-bottom:2em;">
          <div class="col-lg-5 col-lg-offset-1">
            <p style="text-align:justify">Arpan R.<br><br>
              The next Steve Jobs. He already has a Mac.
            </p>
          </div>
          <div class="col-lg-5 col-lg-offset-1"style="padding-bottom:2em">
            More words go here maybe?
          </div>
        </div>
          <br><div class="col-lg-12" style="border-bottom: solid;border-color:#b15315;margin-bottom:2em;">
            <div class="col-lg-5 col-lg-offset-1">
              <p style="text-align:justify">Dean DeHart<br><br>
                 Computer Scientist, Web Developmentist, YouTuber, Vlogger, Blogger, Designer, Engineerer, Project Managerer, Thing Do Weller.
              </p>
            </div>
            <div class="col-lg-5 col-lg-offset-1"style="padding-bottom:2em">
              More words go here maybe?
            </div>
          </div>
            <br>

  <div class="col-lg-10 col-lg-offset-1">
    <%= link_to 'Home', root_path, class: 'btn btn-primary btn-lg', style: 'width:100%; float:center'%>
  </div>

</div>
