<div class="container-fluid">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="well">
            <h1>
                Chat Room
            </h1>

            <div id="messages" class="chat_box">
                <%= render @messages %>
            </div>

        </div>
        <form>
            <input type="text" maxlength="512" data-behavior="room_speaker" class="texter col-lg-10 col-md-10 col-sm-10 col-xs-10" placeholder="Enter text here . . .">
            <input type="submit" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn-info subforsub">
        </form>
    </div>
</div>
