<nav class="navbar navbar-default navbar-fixed-bottom" style="background:rgba(18,18,18,0.50);z-index:550;height:50px;">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li style="max-height:100%;float">
                
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'New Blog', new_blog_path, :'data-no-turbolink' => true %></li>
        </ul>
        </div><!-- /.container-fluid -->
    </nav>